.input-group.picture-upload
  -#.col-md-8.col-md-offset-4
  = form_for Picture.new, html: {multipart: true, class: "picture-upload-form"} do |form|
    %span.btn.btn-default.btn-block File...
    = form.file_field :location, multiple: true, class: "form-control upload"
    = form.hidden_field(:category_id, value: @category.id)
    = form.text_field :description, class: "form-control", placeholder: "Description"
    = form.submit "Upload", method: :put, class: "btn btn-primary btn-block"